@import '/src/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 6;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

	margin-top: 70px;

	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

// RWD
@media (max-width: 1150px) {
}
