@import '/src/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

	margin-top: 125px;
}

.section .inside .bgShadow {
	position: absolute;
	width: 1324px;
	height: auto;

	left: 50%;
	top: 50%;

	translate: -50% -50%;

	z-index: -1;
	pointer-events: none;
}

.section .inside .title {
	position: relative;
	width: 100%;
	max-width: 550px;
	margin: 0 auto;

	text-align: center;
	font-family: $font1;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 115%;

	background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.5) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section .inside .points {
	position: relative;
	width: 100%;

	display: flex;
	//align-items: flex-end;
	flex-wrap: wrap;
	gap: 96px;
	row-gap: 24px;

	margin-top: 64px;

	@media screen and (max-width: 620px){
		gap: 24px;
		flex-direction: column;
	}
}

.section .inside .points .centerLine {
	position: absolute;
	width: 1px;
	height: 100%;

	left: 50%;
	top: 0px;

	translate: -50% 0;

	background: rgba($color-orange, 0.16);

	@media screen and (max-width: 620px){
		display: none;
	}
}

// RWD
@media (max-width: 1150px) {
}
