@import '../../styles/variables.scss';

.affiliateForm{
  width: 100%;
  max-width: 475px;
  border-radius: 16px;
  background-color: #110F0F;
  border: 1px solid #371d0e;
  padding: 24px 24px 40px;
  position: relative;
  gap: 24px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, #110F0F 0%, #2d1812 100%);

  @media screen and (max-width: 848px){
    width: 475px;
  }
  @media screen and (max-width: 515px){
    width: 100%;
    max-width: 100%;
  }

  hr{
    border-color: rgba(255,255,255,.08);
  }

  &__price{
    font-weight: 600;
    font-size: 48px;
    color: $color-orange;
    @media screen and (max-width: 848px){
      font-size: 32px;
    }
  }


  &::before{
    @media screen and (max-width: 848px){
      width: 200%;
      max-width: 200%;
    }
  }
}

.affiliateDots{
  position: absolute;
  bottom: -180px;
  right: 0;
}

.affiliateFormHeading{
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 1) 100%);
  opacity: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.affiliateFormBackground{
  position: absolute;
  z-index: -1;
  width: 900px;
  max-width: 900px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 3/2;
}

.affiliateContainer{
  @media screen and (max-width: 848px){
    flex-direction: column;
    gap: 36px;
  }


}

.affiliateBottom{
  gap: 12px;
  @media screen and (max-width: 848px){
    flex-wrap: wrap;
  }
}