.rangeInputContainer{
  position: relative;
  width: calc(100% - 12px);
  margin: 0 auto;
  z-index: 3;
  &::before, &::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4e260c;
    z-index: -1;
  }
  &::before{
    left: -8px;
  }
  &::after{
    right: -8px;
  }
}

.rangeInputSlider{
  background: #4e260c;
  width: calc(100% + 16px);
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: clip;
}

.rangeInputBullet{
  background: #FB6306;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}
.rangeInputShadow{
  position: absolute;
    top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 20px;
  background: #FB6306;
  transition: .3s;
  filter: blur(15px);
}
.rangeInput{
  width: calc(100% + 20px);
  opacity: 0;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover{
    cursor: pointer;
  }
}