@import '/src/styles/variables.scss';
.card {
	background-image: url('../../assets/images/blog/card-bg.png');
	background-size: 100% 100%;
	width: 100%;
	max-width: 384px;
	max-height: 430px;
	overflow: hidden;
	padding: 0 1px;
	position: relative;
	display: block;
	border-radius: 15px 15px 0 0;
	/* 
	& img {
		width: 100%;
		height: auto;
		max-height: 250px;
		object-fit: cover;
	} */

	@media screen and (min-width: 420px) {
		height: 430px;
	}
}

.card:hover .cardHero {
	transform: scale(103%);
}

.cardInfoBox {
	display: flex;
	align-items: center;
	gap: 16px;
}
.cardInfoBoxLarge {
	display: flex;
	align-items: center;
	gap: 11px;
	flex-direction: column;

	@media screen and (min-width: 992px) {
		flex-direction: row;
	}
}
.cardInfoBoxSmall {
	display: flex;
	align-items: center;
	gap: 12px;
}
.cardInfoBoxOne {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.cardInfoBoxOneLarge {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;

	@media screen and (min-width: 992px) {
		align-items: start;
	}
}

.cardClock {
	display: flex;
	align-items: center;
	gap: 8px;
}

.btnBox {
	position: absolute;
	bottom: 0;
	left: 16px;

	@media screen and (min-width: 390px) {
		left: 24px;
	}

	& img {
		height: 24px;
		width: 24px;
	}
}
.btnLargeBox {
	position: absolute;
	bottom: 27px;
	left: 16px;

	@media screen and (min-width: 390px) {
		left: 24px;
	}

	& img {
		height: 24px;
		width: 24px;
	}
}

.largeCard {
	display: none;
	background-image: url('../../assets/images/blog/large-card.png');
	// background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 32px;
	border-radius: 15px;
	overflow: hidden;
	transition: all 0.5s !important;

	@media screen and (min-width: 1024px) {
		height: 340px;
		display: block;
		margin-bottom: 48px;
	}
}
.largeCard:hover {
	background-size: 103% 103%;
}

.cardLargeText {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 1px;
	max-width: 504px;
	line-height: 48px;
	margin: 32px 0;
}
.cardLine {
	width: 568px;
	height: 1px;
	background-image: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 80%);
	margin-bottom: 32px;
	opacity: 8%;
}

.imageBox {
	position: relative;
}

.cardHero {
	width: 100%;
	height: auto;
	max-height: 250px;
	object-fit: cover;
	position: relative;
	transition: transform 0.5s;
}

.largeCardPost {
	background-image: url('../../assets/images/blog/post-header-bg.png');
	background-size: 100% 100%;
	width: 100%;
	min-height: 530px;
	overflow: hidden;
	padding: 0 1px;
	position: relative;
	display: none;
	border-radius: 15px 15px 0 0;

	@media screen and (min-width: 768px) {
		display: block;
	}
}
.largeCardPost:hover .largeCardHero {
	transform: scale(103%);
}

.largeCardHero {
	width: 100%;
	height: auto;
	height: 450px;
	object-fit: cover;
	position: relative;
	transition: transform 0.5s;
}

.cardInfo {
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media screen and (min-width: 390px) {
		padding: 24px 24px;
	}
}
.largePostCardInfo {
	padding: 48px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	@media screen and (min-width: 992px) {
		flex-direction: row;
	}
}

.cardText {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	vertical-align: middle;
	line-height: 28px;

	@media screen and (min-width: 390px) {
		font-size: 24px;
	}
}

.cardLargePostText {
	font-weight: 600;
	font-size: 26px;
	padding: 0 32px;

	@media screen and (min-width: 1024px) {
		font-size: 36px;
	}
	@media screen and (min-width: 1280px) {
		font-size: 40px;
	}
}

.grayText {
	font-weight: 500;
	color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 16px;
	opacity: 40%;
}

.cardTeam {
	font-weight: 500;
	line-height: 20px;
	vertical-align: middle;
	color: #fb6306;
}
.cardTeamLarge {
	font-weight: 500;
	line-height: 20px;
	vertical-align: middle;
	color: #fb6306;
	text-align: center;

	@media screen and (min-width: 768px) {
		text-align: start;
	}
}

.postHeaderBox {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.mobile {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.authorLink {
	color: #ffffff;
	font-weight: 500;
	color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 16px;
	opacity: 40%;

	display: inline-block;
	white-space: nowrap;

	transition: opacity 0.3s;

	& a {
		color: inherit;
	}
	&:hover {
		opacity: 100%;
	}
	@media screen and (min-width: 362px) {
		margin-left: 16px;
	}
}

.cardInfoAvatar {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	border: 1px solid #fb630629;
	position: relative;
	left: -13px;
	z-index: -1;
}
.cardLogos {
	position: relative;
	flex-shrink: 0;
}

.ratingBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin-top: 24px;
	margin-bottom: 24px;

	@media screen and (min-width: 992px) {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 32px;
		margin-left: 32px;
		border-left: 1px solid rgba(255, 255, 255, 0.08);
		align-items: start;
	}
}
.ratingBoxOne {
	display: flex;
	gap: 14px;
}
.votesBox {
	line-height: 16px;
	height: 16px;
	margin-top: 2px;
}
.votes {
	opacity: 50%;
	line-height: 16px;
	margin-left: 8px;
}
.starsBox {
	display: flex;
	gap: 4px;
}

.postSocials {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 12px;

	@media screen and (min-width: 992px) {
		align-items: end;
		margin-left: auto;
	}
}
.postSocialBox {
	display: flex;
	align-items: center;
	gap: 16px;
}

.postSocial {
	transition: opacity 0.3s;
	opacity: 40%;
	&:hover {
		opacity: 100%;
	}
}
.headerMainBox {
	display: flex;
	flex-direction: column;
}
