.postList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.headingBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 48px;
	gap: 24px;
	text-align: center;

	& a {
		display: none;
	}

	@media screen and (min-width: 1024px) {
		flex-direction: row;
		justify-content: space-between;
	}
	@media screen and (min-width: 1024px) {
		& a {
			display: flex;
		}
	}
}
