@import '/src/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 4;
}

.section .shortListBg {
	position: absolute;
	width: 1324px;
	height: auto;

	left: 50%;
	top: 50%;

	translate: -50% -50%;

	z-index: -1;
	pointer-events: none;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

	display: flex;
	gap: 16px;

	margin-top: 160px;

	@media screen and (max-width: 860px){
		flex-direction: column;
		gap: 12px;
		margin-top: 80px;
	}
}

// RWD
@media (max-width: 1150px) {
}
